<div class="col-10 offset-1">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="https://github.com/Darwin010">Walter</a>
    </p>
    <br />
    <p>
    I like to code and play JRPGS, MMOS, MOBAS
    </p>
    <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>
    
    <div class='row'>
        <div class="col-12 col-sm-4">
            <% image_tag 'walter.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Walter Lopez</h2>
      <br />
      <p>
        Walter Lopez is a web developer in training who had a no idea what he wanted to do, but getting into cyberpatriot in High school. (Cyberpatriot is a compitation presented by norther grumpmman with the association of the United states Air force. the compitiation teaches cyber defence ect...) he found that he wanted to do, Cyber security is a field that he wanted to get in. He started by hosting simple gaming server. like minecraft/local via portforwarding tdp/udp. then hosting NAS via ubuntu. and securirng system though skill acquired during his time in cyberpatriot. 
      </p>
    </div>
  </div>
 <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />